<footer class="footer">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
            <ul class="contact-list">
                <li class="p-name">
                    {%- if site.author -%}
                    &copy;{{ site.author | escape }}
                    {%- else -%}
                    {{ site.title | escape }}
                    {%- endif -%}
                </li>
                {%- if site.email -%}
                <li><a href="mailto:{{ site.email | encode_email }}"> Contact me</a></li>
                {%- endif -%}
            </ul>
        </div>

        <div class="footer-col footer-col-2">
            <p>{{- site.description | escape -}}</p>
        </div>

    </div>

</footer>