<header class="page-header" role="banner">
    <div class="container">
        <a id="site-title" href="{{ site.baseurl }}">{{ site.title }}</a>
        <div class="navbar">
            {% for x in site.navigation %}
                {% if x.item == "Resume" %}
                    <a class="btn navbar-btn", target="_blank" href="{{ x.link }}">{{ x.item }}</a>
                {% else %}
                    <a class="btn navbar-btn", href="{{ x.link }}">{{ x.item }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</header>