<head>
    <!-- General meta -->
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta item="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
    <meta item="keywords" content="{{ site.author }}, {{ site.title }}">
    <meta item="author" content="{{ site.author }}">

    <!-- Mobile specific meta -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- SEO meta -->
    {% seo %}

    <!-- Separate Twitter meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">

    <!-- 404 redirect -->
    {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}

    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{'/favicon.png' | relative_url}}">

    <!-- Analytics meta -->
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}

</head>