// Raw colors

$alto: rgb(37, 18, 18);
$bouquet: rgb(170, 117, 159);
$chelsea-cucumber: rgb(144, 170, 90);
$cod-grey: rgb(21, 21, 21);
$dove-grey: rgb(102, 102, 102);
$transparent: rgba(0, 0, 0, 0.1);
$gallery: rgb(234, 234, 234);
$grey: rgb(136, 136, 136);
$gulf-stream: rgb(68, 122, 113);
$hippie-blue: rgb(85, 143, 168);
$light-blue: rgb(126, 193, 223);
$dark-blue: rgb(66, 116, 138);
$potters-clay: rgb(143, 85, 54);
$rajah: rgb(194, 120, 18);
$raw-sienna: rgb(216, 103, 11);
$silver-chalice: rgb(170, 170, 170);
$white: rgb(243, 240, 240);
$test-blue-1: rgb(205, 217, 222);
$test-blue-2: rgb(226, 234, 238);

// Chosen pallette

$background-light: rgba(228, 226, 227, 0.712);
$background-dark: $dove-grey;

$text-light: $gallery;
$text-dark: $dove-grey;

$accent-light: $hippie-blue;
$accent-medium: rgb(15, 82, 113);
$accent-dark: $dark-blue;

$accent-bright: $white;
$accent-dull: $cod-grey;

// Applied colors

// Body
$body-background: $background-light !default;
$body-foreground: $background-dark !default;

// Body
$header-color: $grey !default;
$header-background: $test-blue-2 !default;

// Buttons
$btn-background: $accent-medium !default;
$btn-hover: $accent-dark !default;
$btn-text: $white !default;

// Quotes
$blockquote-color: $background-dark !default;
$blockquote-border: $background-dark !default;

// Code highlighting
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;
