// Raw colors

$alto: #271313;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$dove-grey: #666;
$transparent: rgba(0, 0, 0, 0.1);
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #447a71;
$hippie-blue: #558fa8;
$light-blue: #7ec1df;
$dark-blue: #42748a;
$potters-clay: #8f5536;
$rajah: #c27812;
$raw-sienna: #d8670b;
$silver-chalice: #aaa;
$white: rgb(243, 240, 240);
$test-blue-1: hsl(200, 21%, 84%);
$test-blue-2: hsl(200, 26%, 91%);

// Applied colors

$header-background: $test-blue-2 !default;
$header-background-2: $test-blue-1 !default;
$body-background: $gallery !default;
$body-foreground: $dove-grey !default;
$header: $grey !default;
$blockquote-color: $dove-grey !default;
$blockquote-border: $dove-grey !default;

$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;