// Raw colors

$alto: rgb(37, 18, 18);
$bouquet: rgb(170, 117, 159);
$chelsea-cucumber: rgb(144, 170, 90);
$cod-grey: rgb(21, 21, 21);
$dove-grey: rgb(102, 102, 102);
$transparent-grey: rgba(228, 226, 227, 0.712);
$transparent-dark: rgba(40, 43, 45, 0.71);
$transparent: rgba(0, 0, 0, 0.1);
$gallery: rgb(234, 234, 234);
$grey: rgb(136, 136, 136);
$gulf-stream: rgb(68, 122, 113);
$hippie-blue: rgb(85, 143, 168);
$light-blue: rgb(126, 193, 223);
$dark-blue: rgb(66, 116, 138);
$darker-blue: rgb(15, 82, 113);
$potters-clay: rgb(143, 85, 54);
$rajah: rgb(194, 120, 18);
$raw-sienna: rgb(216, 103, 11);
$silver-chalice: rgb(170, 170, 170);
$white: rgb(243, 240, 240);
$test-blue-1: rgb(205, 217, 222);
$test-blue-2: rgb(226, 234, 238);

// Chosen pallette

/* Default Colors */
:root{
    --background-light: $transparent-dark;
    --background-dark: $dove-grey;

    --text-light: $dove-grey;
    --text-dark: $gallery;

    --accent-light: $hippie-blue;
    --accent-medium: $darker-blue;
    --accent-dark: $dark-blue;

    --accent-bright: $white;
    --accent-dull: $cod-grey;
}

:root[color-mode="light"] {
  /* Light Colors */
    --background-light: $transparent-dark;
    --background-dark: $dove-grey;

    --text-light: $dove-grey;
    --text-dark: $gallery;

    --accent-light: $hippie-blue;
    --accent-medium: $darker-blue;
    --accent-dark: $dark-blue;

    --accent-bright: $white;
    --accent-dull: $cod-grey;
}

:root[color-mode="dark"] {
    /* Dark Colors */
    --background-light: $transparent-grey;
    --background-dark: $dove-grey;

    --text-light: $gallery;
    --text-dark: $dove-grey;

    --accent-light: $hippie-blue;
    --accent-medium: $darker-blue;
    --accent-dark: $dark-blue;

    --accent-bright: $white;
    --accent-dull: $cod-grey;
}
  
// Applied colors
:root {
    /* Body */
    --body-background: var(--background-light);
    --body-foreground: var(--background-dark);

    /* Header */
    --header-color: var(--grey);
    --header-background: var(--test-blue-2);

    /* Buttons */
    --btn-background: var(--accent-medium);
    --btn-hover: var(--accent-dark);
    --btn-text: var(--white);

    /* Quotes */
    --blockquote-color: var(--background-dark);
    --blockquote-border: var(--background-dark);

    /* Code highlighting */
    --code-bg-color: var(--white);
    --code-text-color: var(--gulf-stream);
}
