/* Header */

.page-header {
    background-color: $header-background;
    background-image: linear-gradient(150deg, $header-background-2, $header-background);
    width: 100%;
    border-bottom: 1px solid $transparent;
    padding: 30px 0;
    margin: 0 0 40px 0;

    @include large {
        padding: 5rem 0rem 2rem 0rem;
    }
    @include medium {
        padding: 3rem 0rem;
    }
    @include small {
        padding: 2rem 0rem;
    }
}
#site-title {
    line-height: $base-line-height;
    display: inline-block;
    margin: 0 0 0 0;
    font-weight: bold;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: $cod-grey;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;

    @include large {
        font-size: 3.25rem;
    }
    @include medium {
        font-size: 2.25rem;
    }
    @include small {
        text-align: center;
        width: 100%;
        float: none;
        font-size: 1.75rem;
    }
}
.navbar {
    margin: 0;
    padding: 5px 0 5px 0;
    color: $white;
    
    @include small{
        padding: 10px 0 10px 0;
        margin: 0;
        display: block;
        float: none;
        text-align: center;
        width: 100%;
    }
    
    @include medium{
        margin-top: 5px;
    }
}

.navbar-btn {
    @include large{
        width: 90px;
    }
    @include medium{
        width: 60px;
    }
}

/* Footer */

.site-footer {
    border-top: 1px solid $transparent;
    padding: $spacing-unit 0;
}

.site-footer ul {
    padding: 0;
}

.site-footer ul li {
    list-style-type: none;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    @include relative-font-size(0.9375);
    color: $grey;
    margin-left: -$spacing-unit / 2;
}

.footer-col {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;

    @include small{
        text-align: center;
    }
    @include medium{
        float: left;
    }
    @include large{
        float: left;
    }
}
  
.footer-col-1 {
    @include medium{
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    @include large{
        width: -webkit-calc(30% - (#{$spacing-unit} / 2));
        width:         calc(30% - (#{$spacing-unit} / 2));
    }
}

.footer-col-2 {
    @include medium{
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    @include large{
        width: -webkit-calc(20% - (#{$spacing-unit} / 2));
        width:         calc(20% - (#{$spacing-unit} / 2));
    }
}
  
.footer-col-3 {
    @include medium{
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    @include large{
        width: -webkit-calc(45% - (#{$spacing-unit} / 2));
        width:         calc(45% - (#{$spacing-unit} / 2));
    }
}

/* List pages (post) */

.content-list ul{
    padding: 0;
}

.content-list ul li{
    list-style-type: none;
}

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {
    margin-left: 0;
    list-style: none;
  
    > li {
      margin-bottom: $spacing-unit;
    }
  }

.post-meta {
    font-size: $small-font-size;
    color: $grey;
}

.post-link {
    display: block;
    @include relative-font-size(1.5);
}

/* Posts */

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;
  
    @include large {
      @include relative-font-size(2.625);
    }
}
  
.post-content {
    margin-bottom: $spacing-unit;
  
    h2 {
      @include relative-font-size(1.75);
  
      @include large {
        @include relative-font-size(2);
      }
    }
  
    h3 {
      @include relative-font-size(1.375);
  
      @include large {
        @include relative-font-size(1.625);
      }
    }
  
    h4 {
      @include relative-font-size(1.125);
  
      @include large {
        @include relative-font-size(1.25);
      }
    }
  }