@import "normalize";
@import "vars";
@import "default_colors";
@import "syntax_highlighting";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@mixin large {
  @media screen and (min-width: #{$on-large}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$on-medium}) and (max-width: #{$on-large}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$on-medium}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  color: $body-foreground;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;

  @include large{
    max-width: $med-width;
    transition: 0.3s ease all;
  }

  @include medium{
    max-width: 83%;
  }
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: $contracted-line-height ;
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

/* Main Content */

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $header;
  letter-spacing: -0.03em;
}

#main_content h1 {
  font-size: 30px;
  color: $dark-blue;
}

#main_content h2 {
  font-size: 24px;
  color: $hippie-blue;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: $base-font-size;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style-type: circle;
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: $white;
  border: 1px solid $cod-grey;
  padding: 10px;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 16px;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
  color: $code-text-color;
  background-color: $code-bg-color;
}

code.highlighter-rouge {
  background: $white;
  border: 1px solid $gallery;
  padding: 0px 3px;
  margin: 0px -3px;
  border-radius: 2px;
  color: $code-text-color;
  background-color: $code-bg-color;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed $dove-grey;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed $dove-grey;
  color: $dove-grey;
}

/* Buttons */

.btn {
  position:relative;
  display:inline-block;
  padding:15px 30px;
  font-size:1rem;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:1px;
  line-height:1.2;
  border:none;
  border-radius:0;
  text-decoration:none;
  -webkit-transition:.25s;
  -moz-transition:.25s;
  -o-transition:.25s;
  transition:.25s;
  white-space:inherit;
  background: $light-blue;
  color: #fff;
  font-weight: 700;
  
  &:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:15px;
    height:100%;
    background: $dark-blue;
  }
  
  &:hover {
    background: $dark-blue;
  }
  
  + .btn {
    margin-left: 1rem;
  }
  
  @include large {
    padding: 0.75rem 2rem;
  }

  @include medium {
    padding: 0.6rem 1.5rem;
    font-size: 0.9rem;
  }
  
  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

/* Links */

a {
  color: #63c0f5;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Icons */

.grey {
  color: $grey;
}

.svg-icon {
   width: 16px;
   height: 18px;
   display: inline-block;
   fill: currentColor;
   padding-right: 5px;
   vertical-align: text-bottom;
}

.social-media-list {
 li + li {
   padding-top: 5px;
 }
}

/* Utils */

.aligned {
  display: inline-block;
}
.to-left {
  @extend .aligned;
  float: left;
}
.to-right {
  @extend .aligned;
  float: right;
}

@import "layout";