@import "normalize";
@import "vars";
@import "default_colors";
@import "syntax_highlighting";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Main CSS file
   ========================================================================== */

/* Responsive layout mixins */

@mixin large {
  @media screen and (min-width: #{$on-large}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$on-medium}) and (max-width: #{$on-large}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$on-medium}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$on-small}) {
    @content;
  }
}

/* General Stuff */

body {

  // will be full height
  height: 100vh;

  // sidebar + content flexbox
  display: flex;

  // on mobile stack vertically
  @include mobile {
    flex-direction: column;
  }

  // other attributes
  color: $body-foreground;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $header;
  letter-spacing: -0.03em;
}

/* Lists */

dt {
  font-style: italic;
  font-weight: bold;
}

li {
  line-height: $contracted-line-height ;
}

ul li {
  list-style-type: circle;
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

/* Code Highlighting */

pre {
  background: $white;
  border: 1px solid $cod-grey;
  padding: 10px;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 16px;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
  color: $code-text-color;
  background-color: $code-bg-color;
}

code.highlighter-rouge {
  background: $white;
  border: 1px solid $gallery;
  padding: 0px 3px;
  margin: 0px -3px;
  border-radius: 2px;
  color: $code-text-color;
  background-color: $code-bg-color;
}

/* Tables */

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed $dove-grey;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed $dove-grey;
  color: $dove-grey;
}

/* Buttons */

.btn {
  position:relative;
  display:inline-block;
  padding:15px 30px;
  font-size:1rem;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:1px;
  line-height:1.2;
  border:none;
  border-radius:0;
  text-decoration:none;
  transition: background-color .25s;
  white-space:inherit;
  background: $light-blue;
  color: #fff;
  font-weight: 700;
  
  // &:before {
  //   content:"";
  //   position:absolute;
  //   top:0;
  //   left:0;
  //   width:15px;
  //   height:100%;
  //   background: $dark-blue;
  // }
  
  &:hover {
    background-color: $dark-blue;
  }
  
  @include large {
    padding: 0.75rem 2rem;
  }

  @include medium {
    padding: 0.65rem 1.5rem;
    font-size: 0.9rem;
  }
  
  @include small {
    display: block;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

/* Links */

a {
  color: $light-blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Icons */

.white {
  color: $white;
}

.svg-icon {
   display: inline-block;
   width: 2em;
   height: 2em;
   stroke: currentColor;
   stroke-width: 0;
   fill: currentColor;
   padding-right: 10px;
}

.social-media-list {
 li + li {
   padding-top: 5px;
 }
}

/* Specific layout
   ========================================================================== */

@import "layout";